# Install with `pip install -r requirements_macOS_arm64.txt`
torch==2.8 # pyannote 4 is currently not compatible with torch 2.9
torchaudio==2.8
AdvancedHTMLParser
appdirs
customtkinter
CTkToolTip
faster-whisper
Pillow
# Use v3.3.2 for compatibility across Python versions (3.9-3.11)
pyannote.audio>=3.3.2
pyinstaller
pyobjc
python-i18n
PyYAML
